/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

table {
  /*border: 1px solid red;*/
  float: left;
  border-collapse: collapse;
  background: url('/assets/ocean.jpg');
}

td {
  border: 1px solid white;
  width: 50px;
  height: 50px;
  padding: -1px;

}
tr {
  /*border: 1px solid black;*/
  width: 50px;
  height: 50px;
}

img {
  vertical-align: bottom
}



.col td {
  text-align: center;
  border: none;
  background: white  ;
}

tr td:nth-child(1) {
  text-align: center;
  border: none;
  background: white;
}

tr:nth-child(11) td:nth-child(1) {
  border: red;
}

.coord {
  border: 1px solid black;
  margin-top: 5%;
  width: 100%;
  height: 100px;
}

form {
  text-align: center;
}

h2 {
  width: 25%;
}

.titles {
  border: 1px solid blue;
  height: 200px;
}

.playertitle {
  border: 1px solid red;
  width: 50%;
  float: left;
}

.comptitle {
  border: 1px solid red;
  width: 48%;
}


#computer {
  /*display: none;*/
}

#player {

}



