/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  height: 1200px;
  background-color: brown;
  color: white;
  background: black;


}

.logo {
  width: 75%;
  height: 200px;

}

.logo img {
  width: 100%;
  margin-left: 18%;
  height: 250px;
}


table {
  /*border: 1px solid red;*/
  float: left;
  border-collapse: collapse;
  background: url('/assets/ocean.jpg');
}

td {
  border: 1px solid white;
  width: 50px;
  height: 50px;
  padding: -1px;

}
tr {
  /*border: 1px solid black;*/
  width: 50px;
  height: 50px;
}

img {
  vertical-align: bottom
}



.col td {
  text-align: center;
  border: none;
  background: black;

}

tr td:nth-child(1) {
  text-align: center;
  border: none;
  background: black;

}

tr:nth-child(11) td:nth-child(1) {
  border: red;
}

.coord {
  border: 1px solid black;
  width: 100%;
  margin-top: 5%;
  height: 100px;
  text-align: center;
}



form {
  text-align: center;
  font-size: 1.5em;
}



.titles {
  width: 90%;
  margin: auto;
  padding: 0;
}

.player {
  display: inline-block;
  width: 40.5%;
  text-align: center;
}

.comp {
  display: inline-block;
  width: 49.5%;
  text-align: center;
  margin-left: 100px;
}


#computer {
  /*display: none;*/
  margin-left: 10px;
}

#player {

}





